:host {

  .gallery-container {
    display: flex;
    align-items: center;

    image {
      padding: 20px;

      /deep/ .title, /deep/ .caption {
        display: none;
      }

      /deep/ img {
        max-height: 200px;
        cursor: pointer;
      }
    }

  }

}