:host {

  .gallery-container {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;

    .image-box {
      width: 200px;
      height: 200px;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: white;
      margin: 10px;
      cursor: pointer;
      box-shadow: none;
      transition: box-shadow 250ms;

      &:hover {
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
      }
    }

    image {
      padding: 20px;

      /deep/ .title, /deep/ .caption {
        display: none;
      }

      /deep/ img {
        max-height: 200px;
      }
    }

  }

}