:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  transition: opacity 250ms;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.25);
  }

  .modal-container {
    position: relative;
    display: flex;
    padding: 30px;
    background-color: white;
    border-radius: 4px;
    border-bottom: 1px solid #999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);

    image {
      display: block;
      position: relative;
      border: 1px solid rgba(0,0,0,0.6);
      border-radius: 2px;

      /deep/ img {
        max-height: 80vh;
      }

    }

    .comment-section {
      padding-left: 20px;
    }

    .close {
      position: absolute;
      top: 8px;
      right: 8px;
      background: none;
      border: none;
      cursor: pointer;
      color: #555;
      transition: color 250ms;
      text-transform: uppercase;

      &:hover {
        color: #999;
      }
    }
  }
}